@charset "utf-8";


/*모바일때 다시 작업할것들*/
#header .ham {
    display: none;
}


.wrap {
    background: #fff;
    position: relative;
    overflow: hidden;
    /* max-width: 1920px;
    margin: 0 auto; */
}
#header {
    position: relative;
    z-index: 9999;
}
#header .header_wrap{
    position: absolute;
    top: 0;
    left: 0;
}
#header .header_wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 59px;
}
#header h1 {
    width: 150px;
    font-size: 0;
}
#header h1 a {
    display: inline-block;
    vertical-align: middle;
    line-height: 31px;
}
#header .gnb {
    display: flex;
    
}
#header .gnb li {
    margin-right: 75px;
}

#header .gnb li:last-child {
    margin-right: 0;
}

#header .gnb li a {
    color: #fff;
    font-family: 'montserrat';
}
#footer {
    padding: 50px 0;
    background: #6D7076;
}
#footer .logo {
    width: 140px;
    height: 30px;
}
#footer .container {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}
#footer .container li {
    color: #ccc;
}
#footer .container li.copy {
    margin-top: 10px;
}





.popup {
    display: none;
    position: fixed;
    top: 30%;
    left: 50%;
    width: auto;
    height:400px;
    max-width: 700px;
    min-height: 300px;
    /* max-height: 90vh; */
    max-height: calc(90vh - 120px);
    transform: translate(-50%, -50%);
    z-index: 100;
}
.popup .tit_wrap {
    position: relative;
    width: 100%;
    line-height: 70px;
    background: #3B7EFF;
}
.popup .tit_wrap .popup_close {
    position: absolute;
    right: 0;
    top: 0;
    width: 70px;
    height: 70px;
    font-size: 0;
    background: url(/img/common/popup_close.png) no-repeat center center;
    background-size: 22px auto;
}
.popup .popup_slide {
    position: relative;
    overflow: hidden;
}
.popup .popup_slide li img {
    width: 100%;
    height: 100%;
}
.popup .popup_slide .slick-track {
    width: 100% !important;
}
.popup .swiper-button-next, .popup  .swiper-button-prev {
    top: 70%;
}
.popup .popup_btn div {
    width: 50px;
    height: 50px;
}
.popup .popup_btn div:after {
    content: none;
}
.popup .popup_btn .swiper-button-next {
    background: url(/img/common/btn_next.png) no-repeat center center;
    background-size: 100%;
}
.popup .popup_btn .swiper-button-prev {
    background: url(/img/common/btn_prev.png) no-repeat center center;
    background-size: 100%;
}
.overlay {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 99;
}






















































































