@charset "utf-8";


.bottom_section  {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.bottom_section .list:last-child {
    margin-right: 0;
}
.bottom_section .tit {
    position: relative;
    font-size: 18px;
    margin-bottom: 10px;
    font-family: 'montserrat';
}
.bottom_section .tit:after {
    content:'';
    position: absolute;
    top: 50%;
    right: 0;
    background: #333;
    width: calc(100% - 70%);
    height: 2px;
    transform: translateY(-50%);
}
.bottom_section .list {
    margin-bottom: 30px;
    border: 1px solid #dedede;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
    width: calc(100%/3 - 20px);
    padding: 30px 30px;
    margin-right: 30px;
    background: #fff;
}
.company_slide {
    padding: 80px 0 40px;
    margin-bottom: 40px;
}
.company_slide .swiper-slide{
    width: 300px;
    height: 300px;
}
.company_slide .swiper-pagination {
    top: auto;
    bottom: 0;
}

@media (max-width:950px){
    .bottom_section .list {
        padding: 20px;
        width: calc(100%/3 - 20px);
        padding: 30px 30px;
        margin-right: 30px;
    }
}

@media (max-width:768px){
   
    .bottom_section {
        display: block;
    }
    .bottom_section .list {
        margin-bottom: 30px;
        padding: 20px;
        width: 100%;
    }
    .company_slide .swiper-slide{
        width: 200px;
        height: 200px;
    }
}




















































